services:
  astro:
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app/frontend
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    ports:
      - "3000:3000"
    container_name: astro_dev
    command: npx astro dev --host --port 3000
  maildev:
    image: maildev/maildev:2.0.5
    ports:
      - "1080:1080"
      - "1025:1025"
    container_name: maildev
