---

---

<p class="odyssey-logo"> <img class="logo" src="assets/images/logo.png" alt="True Morocco Tours logo" /> </p>

<style>
  .odyssey-logo {
    width: fit-content;
    margin: 0;
    font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
    color: inherit;
  }
  .odyssey-logo:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .logo {
    width: 150px;
    height: auto;
  }
</style>
