---
const { tour } = Astro.props;
---

<li class="tour__preview">
  <a href={tour.href}>
    <img src={tour.featuredImage} />
    <h4>{tour.title}</h4>
    {tour.excerpt && <p>{tour.excerpt}</p>}
  </a>
</li>

<style>
  .tour__preview img {
    margin-bottom: 1rem;
    border-radius: calc(var(--theme-shape-radius) / 2);
    transition: border-radius var(--theme-transition);
  }
  .tour__preview:hover img {
    border-radius: var(--theme-shape-radius);
  }
  .tour__preview a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .tour__preview h3 {
    margin: 0;
  }
</style>

