---
import { changeLanguage } from "i18next";
import { parse, isBefore } from "date-fns";
import { Container, TextCardSection, ToursList, } from "@components/odyssey-theme";
import Layout from "../../../layouts/Page.astro";

changeLanguage("es");

const tours = await Astro.glob("./posts/*.mdx").then((tours) => tours
    .map(({ frontmatter, url }) => ({
    title: frontmatter.title,
    description: frontmatter.description,
    authors: frontmatter.authors,
    publishDate: parse(frontmatter.publishDate, "MMMM d, yyyy", new Date()),
    featuredImage: frontmatter.featuredImage,
    excerpt: frontmatter.excerpt,
    href: url,
}))
    .sort((a, b) => {
    if (isBefore(a.publishDate, b.publishDate))
        return 1;
    if (isBefore(b.publishDate, a.publishDate))
        return -1;
    return 0;
}));
const seo = {
    title: "Tours",
    description: "Page de circuits touristiques au Maroc",
};
---

<Layout {seo}>
  <Container>
    <TextCardSection>
      <h1>Nos circuits</h1>
      <p class="tours-list_description">
        Explorez le désert de Merzouga, les montagnes de l'Atlas, les villes impériales... Nos circuits authentiques partent de Marrakech, Casablanca ou Tanger pour 3 à 10 jours.
      </p>
    </TextCardSection>
    <section class="tours-list__section">
      <h2>Nos itinéraires phares</h2>
      <ToursList {tours} />
    </section>
  </Container>
</Layout>

<style>
  .tours-list__section {
    margin: var(--section-margin) auto;
  }
   .tours-list_description {
    font-size: 25px;
    font-weight: 400;
  }
</style>
