---
import {
  Container,
  TextCardSection,
  ToursList,
} from '@components/odyssey-theme';
import Layout from '../../../layouts/Page.astro';
import i18next, { t, changeLanguage } from 'i18next';
import { AstroI18next } from 'astro-i18next';
import { getTours } from '../../../utils/tours';

changeLanguage('es');

const locale =
  i18next.resolvedLanguage ||
  i18next.language ||
  AstroI18next.config.defaultLocale;
const tours = getTours(locale);
i18next.resolvedLanguage ||
  i18next.language ||
  AstroI18next.config.defaultLocale;
const seo = {
  title: t('tours:seo.title'),
  description: t('tours:seo.description'),
};
---

<Layout {seo}>
  <Container>
    <TextCardSection>
      <h1>{t('tours:heading')}</h1>
      <p class="tours-list_description">{t('tours:intro')}</p>
    </TextCardSection>
    <section class="tours-list__section">
      <h2>{t('tours:featured')}</h2>
      <ToursList {tours} />
    </section>
  </Container>
</Layout>

<style>
  .tours-list__section {
    margin: var(--section-margin) auto;
  }
  .tours-list_description {
    font-size: 25px;
    font-weight: 400;
  }
</style>
