---
import { Container, ToursList } from "@components/odyssey-theme";
import Layout from "../layouts/Page.astro";
import HomeHeroSection from "../components/sections/heros/HomeHeroSection.astro";
import ReassuranceSection from "../components/sections/home/ReassuranceSection.astro";
import i18next, { t, changeLanguage } from "i18next";
import { getTours } from "../utils/tours";

changeLanguage("en");

const locale = i18next.resolvedLanguage;
const tours = getTours(locale).slice(0, 2);
---

<Layout>
  <script type="module" src="/src/components/theme-switcher/theme-switcher.ts"
  ></script>

  <HomeHeroSection/>
  <ReassuranceSection locale={locale} />
  <Container>
    <section class="feature-card__section">
      <h2>{t('home:sections.tours.title')}</h2>
      <p>{t('home:sections.tours.description')}</p>
      <div class="feature-card__grid">
        <ToursList {tours} />
</Layout>

<style>
  .feature-card__section {
    margin: var(--section-margin) auto;
  }
  .feature-card__grid {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: var(--theme-grid-gap);
  }
  @media (max-width: 768px) {
    .feature-card__grid {
      grid-template-columns: 1fr;
    }
  }
</style>
